<h3>Listing paniers</h3>

<table>
  <thead>
    <tr>
      <th>Semaine</th>
      <th>Coute</th>
    </tr>
  </thead>

  <tbody>
    <% @paniers.each do |panier| %>
      <tr>
        <td><%= link_to panier.semaine, edit_panier_path(panier) %></td>
        <td><%= panier.coute %></td>
        <td><%= link_to 'Delete', panier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<p><%= link_to 'New Panier', new_panier_path %></p>



