  <h4>Recipes this week</h4>
  <table>
  <tbody>
      <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to recipe.title, recipe %></td>
        <td><%= recipe.short_desc %></td>     
        </tr>
      <% end %>
    </tbody>
  </table>
