  <h4>Recipes this week</h4>
  <table>
  <tbody>
      <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to recipe.title, recipe %></td>
            <td><%= recipe.short_desc %></td>
            <% if @panier %>              
              <td><%= link_to "Add", add_to_panier_path(id: recipe.id) %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<br><br>
<% if current_user.try(:admin?) %> 
  <%= link_to "New recipe", new_recipe_path %>
<% end %>
